body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e3434;
}
canvas {
    box-shadow: black 20px 10px 50px;
    background-color: #0F111D;
    border: 1px dotted white;
}
h1 {
    font-size: 30px;
    height: 40px;
    color: #696363;
    /*text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;*/
}